:root {
 --the-green: rgb(7, 102, 7);
}
body {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.game-area {
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 700px;
  box-shadow: 2px 4px 30px 6px gray;
  background-color: var(--the-green);
  color: whitesmoke;
  border-radius: 4px;
}

.game {
  background-color: whitesmoke;
  width: fit-content;
  border: solid 2px black;
}

.btn {
  padding: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
}

.page {
  display: none;
}

.visible {
  display: block;
}

.pop {
  border: 1px solid var(--the-green);
  width: 85px;
  height: 85px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: black;
  font-size: 30px;
}
.row {
  display: block;
}

.active {
  box-shadow: inset 1px 0px 8px 2px black;
  background-color: white;
  cursor: pointer;
}
.stats {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
}
